@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

#loaderBox {
  border: .5px solid var(--color-border-tertiary);
  border-radius: 12px;
  padding: 10rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;

  .spin {
    width: 48px;
    height: 48px;
    border: 2.5px solid var(--color-border-tertiary);
    border-top-color: #534AB7;
    border-radius: 50%;
    animation: spin .7s linear infinite;
  }

  .loader-title {
    font-size: var(--font-text-lg-size);
    font-weight: 500;
    color: var(--color-text-primary);
  }

  .loader-sub {
    font-size: var(--font-text-md-size);
    color: var(--color-text-tertiary);
  }
}